<%= render "devise/shared/form_container" do %>
  <h2 class="text-xl mb-6">Change your password</h2>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }, data: { turbo: false }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <%= f.hidden_field :reset_password_token %>

    <div class="mb-4">
      <%= f.label :password, "New password", class: "block mb-1" %>
      <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: "border w-full" %>
    </div>

    <div class="mb-4">
      <%= f.label :password_confirmation, "Confirm new password", class: "block mb-1" %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "border w-full" %>
    </div>

    <div class="mb-4">
      <%= f.submit "Change my password", class: "w-full" %>
    </div>
  <% end %>

  <div class="mt-6">
    <%= render "devise/shared/links" %>
  </div>
<% end %>
