<%= render "devise/shared/form_container" do %>
  <h2 class="text-xl mb-6">Forgot your password?</h2>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }, data: { turbo: false }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="mb-4">
      <%= f.label :email, class: "block mb-1" %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "borderw-full" %>
    </div>

    <div class="mb-4">
      <%= f.submit "Send me reset password instructions", class: "borderw-full" %>
    </div>
  <% end %>

  <div class="mt-6">
    <%= render "devise/shared/links" %>
  </div>
<% end %>
